<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
    <meta charset="UTF-8" />
    <title>For Areena</title>
    <link rel="icon" href="../static/img/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <center>
      <p class="MainText">
        I made this website for you, Areena. <br />
        As William Halsted said:
        <bold><i>I love you to the point of invention.</i></bold>
      </p>
    </center>
    <div class="search-div">
      <div id="cover">
        <form method="POST" action="/search">
          <div class="tb">
            <div class="td">
              <input
                type="text"
                placeholder="Enter a song."
                required
                name="query"
              />
            </div>
            <div class="td" id="s-cover">
              <button type="submit">
                <div id="s-circle"></div>
                <span></span>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    {% if list1 %}
    <div>
      <table class="table table-dark table-striped table-hover table-bordered">
        <thead>
          <tr>
            <th scope="col">Serial Number</th>
            <th scope="col"><center>Song</center></th>
            <th scope="col">Artist</th>
          </tr>
        </thead>
        <tbody>
          {% for i in range(l) %}
          <tr>
            <td>{{ i+1 }}</td>
            <td>{{ list1[0][i] }}</td>
            <td>{{ list1[1][i] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </body>
</html>
